<h1>Page 2</h1>
<p>The following field should autofocus. When navigating with Turbolinks, the focus styles can flicker due to Turbolinks focussing the input on the preview, and then on the fresh copy/p>
<input autofocus>

<%= link_to 'Back to Page 1', root_path %>
